$space-small: 8px;
$space-normal: 16px;
$space-big: 32px;

/* todo use hsla */
$primary-color: #10a2ea;
$primary-color-darker: #0f99e8;
$primary-color-darkest: #0d84c8;

$radius-small: 4px;
$radius-normal: 8px;
