@import "_variables.scss";

.btn {
  display: inline-block;
  box-shadow: 0 1px 2px 0 rgba(16, 162, 234, 0.30);
  border-radius: $radius-small;
  background: linear-gradient($primary-color, $primary-color-darker);
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  text-transform: none;
  color: rgba(255, 255, 255, 1.00);
  cursor: pointer;
  font-weight: 500;
  border: 0;
  outline: none;
  font-size: 14px;
  line-height: 1.5;
  padding: 10px 20px 9px;
  width: 100%;
  overflow: hidden;
  transform: perspective(1px) translateZ(0);
  transition: transform 0.5s;
  &:hover {
    background: linear-gradient($primary-color-darker, $primary-color);
  }
  &:active {
    background: linear-gradient($primary-color-darkest, $primary-color-darker);
  }

  &.btn--disabled {
    cursor: default;
    opacity: 0.5;
    &:hover,
    &:active {
      background: linear-gradient($primary-color, $primary-color-darker);
    }
  }

  &.btn--input {
    width: 25%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.10), 0 1px 8px 0 rgba(0, 0, 0, 0.10);
  }
}
