@import "_variables.scss";

.input {
  outline: none;
  width: calc(100% - 16px);
  border: 0;
  border-radius: $radius-small;
  height: 40px;
  background-color: white;
  color: #252525;
  padding: 0 $space-small;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.10), 0 1px 8px 0 rgba(0, 0, 0, 0.10);

  &:focus {
    border-bottom: $primary-color;
  }

  &::placeholder {
    color: #8596a6;
  }
}
