@import "_variables.scss";

.message {
 border-radius: $radius-normal;
 padding: $space-small $space-normal;
 background: lightgray;
 color: black;
 word-break: break-word;

 &.message--yours {
  background: $primary-color;
  color: white;
 }
 &.message--typing {
  align-self: flex-start;
  margin-top: auto;
  img {
   width: auto;
   height: 15px;
  }
 }
}
