@import "_variables.scss";

.message-list-item {
  max-width: calc(50% - 32px);
  margin: $space-small auto $space-small 0;

  &.message-list-item--right {
    margin-left: auto;
    margin-right: 0;
 }
  &.message-list-item--bottom {
    margin-top: auto;
  }
}
