@import "_variables.scss";

.paper {
  background-color: rgba(255, 255, 255, 1.00);
  border-radius: $radius-normal;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.10), 0 1px 8px 0 rgba(0, 0, 0, 0.10);
  padding: $space-normal;

  &.no-padding-top {
    padding-top: 0;
  }
  &.no-padding-bottom {
    padding-bottom: 0;
  }
}
